.page {
  width: 1920px;
  height: max-content;
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* ПАТТЕРНЫ */

.content__theme-bright {
  background: rgb(255, 255, 255);
}

.content__theme-dark {
  background: rgb(8, 17, 48);
}

/* ШАПКА САЙТА */

.header {
  position: absolute;
  top: 50px;
  left: 426px;
  height: 82px;
  display: flex;
  flex-direction: row;
  gap: 550px;
}

.header__title {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 143%;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
}

.header__address {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.header__address-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.header__address-item div {
  margin-top: -10px;
}

.header__address-logo {
  width: 19px;
  height: 19px;
}

.header__address-text {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
}

.header__address-link {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* ОСНОВАНАЯ ЧАСТЬ САЙТА */

.main {
  width: 100%;
  height: 100px;
}

/* СЕКЦИЯ С ВИЗИТНОЙ КАРТОЧКОЙ */

.cover {
  padding: 188px 0 465px 370px;
  display: flex;
  flex-direction: column;
}

/* СЕКЦИЯ С КАТАЛОГОМ */

.catalog {
  padding: 0 370px;
  display: flex;
  flex-direction: column;
}

/* СЕКЦИЯ С ОТПРАВКОЙ СВОЕГО ФОТО */

.content {
  display: flex;
  flex-direction: row;
}

/* СЕКЦИЯ С ТЕМ КТО БУДЕТ ГОТОВИТЬ */

.about {
  display: flex;
  flex-direction: row;
}

/* СЕКЦИЯ С ОТЗЫВАМИ */

.reviews {
  display: flex;
  flex-direction: column;
}

/* СЕКЦИЯ С ГАЛЕРЕЕЙ */

.gallery {
  display: flex;
  flex-direction: column;
}

/* СЕЦИЯ С ФОРМОЙ */

.reqest {
  padding: 0 370px;
  display: flex;
  flex-direction: column;
}

/* ПОДВАЛ САЙТА */

.footer {
  padding: 80px 0;
  width: 100%;
  height: 100px;
}
