.page {
  width: 1920px;
  height: max-content;
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* ПАТТЕРНЫ */

.content__theme-bright {
  background: rgb(255, 255, 255);
}

.content__theme-dark {
  background: rgb(8, 17, 48);
}

.subtitle {
  width: max-content;
  height: max-content;
  border-radius: 5px;
  padding: 10px 18px;
  background: rgb(242, 246, 250);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 10%;
  color: rgb(46, 54, 62);
  text-transform: uppercase;
  user-select: none;
}

.page-accent,
.cloud {
  position: absolute;
  z-index: 5;
  object-fit: cover;
}

.cloud-top {
  top: 0;
}

.cloud-bottom {
  bottom: 0;
}

/* ШАПКА САЙТА */

.header {
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 550px;
  height: 82px;
  display: flex;
  flex-direction: row;
  gap: 550px;
}

.header__title {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 143%;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
  user-select: none;
}

.header__address {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.header__address-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.header__address-item div {
  margin-top: -10px;
}

.header__address-logo {
  width: 19px;
  height: 19px;
}

.header__address-text {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
}

.header__address-link {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* ОСНОВАНАЯ ЧАСТЬ САЙТА */

.main {
  width: 100%;
  height: max-content;
}

/* СЕКЦИЯ С ВИЗИТНОЙ КАРТОЧКОЙ */

.cover {
  position: relative;
  z-index: 0;
  padding: 307px 0 465px 370px;
  width: 1920px;
  max-height: 1234px;
  background: url(../images/cover.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.cover__title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2%;
  color: rgb(255, 255, 255);
}

.cover__text {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
}

.cover__container {
  margin-top: 23px;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cover__container-button {
  padding: 30px 50px;
  border-radius: 8px;
  background: rgba(254, 216, 76);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  letter-spacing: 0;
  color: rgb(46, 54, 62);
  cursor: pointer;
}

.cover__container-text {
  margin-left: 21px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
}

.cover img:nth-child(5) {
  top: 138px;
  left: 1785px;
  width: 170px;
  height: 175px;
  transform: rotate(28deg);
}

.cover img:nth-child(6) {
  top: 240px;
  right: 1780px;
  width: 195px;
  height: 201px;
  transform: rotate(-45deg);
}

.cover img:nth-child(7) {
  top: 910px;
  left: 1510px;
  width: 195px;
  height: 201px;
  transform: rotate(-148deg);
}

.cover img:nth-child(8) {
  top: 965px;
  right: 1710px;
  width: 275px;
  height: 286px;
  transform: rotate(-156deg);
  filter: blur(5px);
}

/* СЕКЦИЯ С КАТАЛОГОМ */

.catalog {
  position: relative;
  padding: 0 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-title {
  margin-bottom: 80px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
  color: rgb(46, 54, 62);
  user-select: none;
}

.catalog__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.catalog__card-list-item {
  list-style-type: none;
}

.card {
  border-radius: 10px;
}

.card-image {
  border-radius: 10px 10px 0 0;
  width: 380px;
}

.card-title {
  margin: 45px 0 0 44px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: 0;
  color: rgb(46, 54, 62);
  user-select: none;
}

.card-text {
  margin: 12px 0 0 44px;
  max-width: 240px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: rgb(46, 54, 62);
  user-select: none;
}

.card__container {
  margin: 24px 0 50px 44px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card__container-price {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0;
  color: rgba(67, 75, 83);
  user-select: none;
}

.card__container-button {
  border: none;
  padding: 20px 40px;
  width: max-content;
  background: rgba(254, 216, 76);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  letter-spacing: 0;
  color: rgb(46, 54, 62);
  cursor: pointer;
  user-select: none;
}

.catalog img:nth-child(3) {
  top: 250px;
  left: 240px;
  width: 170px;
  height: 174px;
  transform: rotate(-63deg);
  filter: blur(5px);
}

.catalog img:nth-child(4) {
  top: 1025px;
  left: 1523px;
  width: 161px;
  height: 167px;
  transform: rotate(-180deg);
  filter: blur(14px);
}

.catalog img:nth-child(5) {
  top: 1381px;
  left: 252px;
  width: 109px;
  height: 113px;
  transform: rotate(93deg);
  filter: blur(14px);
}

/* СЕКЦИЯ С ОТПРАВКОЙ СВОЕГО ФОТО */

.photo {
  position: relative;
  width: 1920px;
  min-height: 1352px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.photo-image {
  position: absolute;
  z-index: 0;
  top: 300px;
  right: 934px;
  width: 1090px;
  height: 1034px;
  object-fit: cover;
}

.photo__container {
  margin: 420px 369px 459px 1070px;
  width: max-content;
  height: max-content;
}

.photo__container-title {
  margin: 33px 0 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
  color: rgb(255, 255, 255);
  user-select: none;
}

.photo__container-text {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 143%;
  letter-spacing: -0.2px;
  color: rgb(255, 255, 255);
  user-select: none;
}

.photo__container-button {
  position: absolute;
  top: 783px;
  left: 1070px;
  border: none;
  padding: 30px 50px;
  background: rgba(254, 216, 76);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  letter-spacing: 0;
  color: rgb(46, 54, 62);
  cursor: pointer;
  user-select: none;
}

.photo__container-button input {
  display: none;
}

.photo img:nth-child(6) {
  top: 300px;
  left: 1579px;
  width: 152px;
  height: 156px;
  transform: rotate(-140deg);
  filter: blur(5px);
}

.photo img:nth-child(7) {
  top: 390px;
  left: 356px;
  width: 110px;
  height: 114px;
  transform: rotate(90deg);
  filter: blur(14px);
}

/* СЕКЦИЯ С ТЕМ КТО БУДЕТ ГОТОВИТЬ */

.about {
  position: relative;
  margin-top: -13px;
  padding: 0 378px 12px 362px;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 65px;
}

.about__container {
  margin-top: 90px;
  max-width: 580px;
  display: flex;
  flex-direction: column;
}

.about__container-title {
  margin: 24px 0 29px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
  color: rgb(46, 54, 62);
  user-select: none;
}

.about__container-list {
  margin-left: 27px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__container-list-item {
  list-style-type: disc;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: rgb(46, 54, 62);
  user-select: none;
}

.about__container-list-item::marker {
  color: rgb(93, 106, 251);
  font-size: 30px;
}

.about__container-button {
  margin-top: 55px;
  border: none;
  padding: 30px 50px;
  width: max-content;
  background: rgba(254, 216, 76);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  letter-spacing: 0;
  color: rgb(46, 54, 62);
  cursor: pointer;
  user-select: none;
}

.about__mask {
  position: relative;
  z-index: 10;
  border-radius: 0 0 287px 287px;
  width: max-content;
  height: 814px;
  display: flex;
  align-items: end;
  overflow: hidden;
}

.about__avatar {
  margin-bottom: 0;
  border-radius: 50%;
  width: 580px;
  height: 580px;
  background: rgba(254, 216, 76, 1);
}

.about__avatar-image {
  position: absolute;
  bottom: 0;
  left: 60px;
  width: 487px;
  height: 816px;
  object-fit: cover;
}

.about-info {
  position: absolute;
  z-index: 20;
  top: 535px;
  left: 870px;
}

.about-info__container {
  border-radius: 5px;
  transform: skew(-10deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-info__container:first-child {
  width: 280px;
  height: 60px;
  background: rgb(46, 54, 62);
}

.about-info__container:first-child span {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: rgb(255, 255, 255);
  user-select: none;
}

.about-info__container:last-child {
  margin-left: 34.5px;
  width: 213px;
  height: 52px;
  background: rgb(242, 246, 250);
}

.about-info__container:last-child span {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1px;
  color: rgb(46, 54, 62);
  text-transform: uppercase;
  user-select: none;
}

.about img:nth-child(4) {
  top: 160px;
  left: 990px;
  width: 159px;
  height: 163px;
  transform: rotate(-53deg);
  filter: blur(7px);
}

.about img:nth-child(5) {
  top: 170px;
  left: 1270px;
  width: 190px;
  height: 198px;
  transform: rotate(150deg);
  filter: blur(14px);
}

.about img:nth-child(6) {
  top: 170px;
  left: 1300px;
  width: 190px;
  height: 198px;
  transform: rotate(165deg);
  filter: blur(14px);
}

.about img:nth-child(7) {
  top: 190px;
  left: 1323px;
  width: 190px;
  height: 198px;
  transform: rotate(-180deg);
  filter: blur(14px);
}

/* СЕКЦИЯ С ОТЗЫВАМИ */

.reviews {
  position: relative;
  margin-top: -50px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.reviews-title {
  margin-top: 300px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
  color: rgb(255, 255, 255);
  user-select: none;
}

.reviews__containers {
  position: relative;
  margin-top: 80px;
  width: max-content;
  height: 615px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  object-fit: cover;
}

.review-card {
  position: relative;
  border: 2px solid rgb(226, 234, 242);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}

.review-card-active {
  padding: 70px 148px;
  width: 1180px;
  height: 100%;
  gap: 65px;
}

.review-card-inactive {
  padding: 55px 113px;
  width: 934px;
  height: 486px;
  gap: 65px;
  opacity: 0.06;
}

.review-card-active .review-text {
  margin-left: -7px;
  max-width: 450px;
}

.review-card-inactive .review-text {
  margin-left: -1px;
  max-width: 380px;
}

.review-card svg {
  margin: 2px 0 26px;
}

.review-title {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0;
  color: rgb(46, 54, 62);
  user-select: none;
}

.review-card-active .review-title {
  font-size: 30px;
}

.review-card-inactive .review-title {
  font-size: 23.75px;
}

.review-paragraph {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0;
  color: rgb(46, 54, 62);
  user-select: none;
}

.review-card-active .review-paragraph {
  margin: 24px 0;
  max-width: 430px;
  font-size: 15px;
}

.review-card-inactive .review-paragraph {
  margin: 24px 0;
  max-width: 350px;
  font-size: 12px;
}

.review-link {
  border-bottom: 1px solid rgb(74, 148, 255);
  width: max-content;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: rgb(74, 148, 255);
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.review-card-active .review-link {
  font-size: 14px;
}

.review-card-inactive .review-link {
  font-size: 11px;
}

.review-author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-img {
  border-radius: 50%;
}

.review-card-active .author-img {
  width: 380px;
  height: 380px;
}

.review-card-inactive .author-img {
  width: 300px;
  height: 300px;
}

.author-info {
  margin-top: 28px;
  margin-left: 5px;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.author-info-title {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0;
  color: rgb(46, 54, 62);
  user-select: none;
}

.review-card-active .author-info-title {
  font-size: 21px;
}

.review-card-inactive .author-info-title {
  font-size: 17px;
}

.author-info span {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0;
  color: rgb(166, 174, 182);
  user-select: none;
}

.review-card-active .author-info span {
  font-size: 16px;
}

.review-card-inactive .author-info span {
  font-size: 13px;
}

.reviews__buttons {
  margin: 70px 0 308px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.reviews__buttons-btn {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background: rgba(254, 216, 76);
  cursor: pointer;
}

.reviews img:nth-child(6) {
  top: 432px;
  left: 1500px;
  width: 152px;
  height: 156px;
  transform: rotate(-134deg);
}

.reviews img:nth-child(7) {
  top: 280px;
  left: 210px;
  width: 127px;
  height: 132px;
  transform: rotate(-120deg);
  filter: blur(14px);
}

/* СЕКЦИЯ С ГАЛЕРЕЕЙ */

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-title {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
  color: rgb(46, 54, 62);
  user-select: none;
}

.gallery-subtitle {
  margin-top: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: 0;
  color: rgb(46, 54, 62);
  user-select: none;
}

.gallery__photos {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9px;
}

.gallery__photos-item {
  width: 634px;
  height: 444px;
}

/* СЕЦИЯ С ФОРМОЙ */

.reqest {
  padding: 0 370px;
  display: flex;
  flex-direction: column;
}

/* ПОДВАЛ САЙТА */

.footer {
  padding: 80px 0;
  width: 100%;
  height: 100px;
}
